.first{
	position:	fixed;
	margin-top:	30px;
	margin-left:	40px;
	font-size:	80px;
	z-index:	1;
	background-color:#ff0000;
}
.second{
	position:	fixed;
	margin-top:	60px;
	margin-left:	80px;
	font-size:	80px;
	z-index:	2;
	background-color:#00ff00;
}
.third{
	position:	fixed;
	margin-top:	90px;
	margin-left:	120px;
	font-size:	80px;
	z-index:	3;
	background-color:#0000ff;
}
